<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles2.css"/>
    <title>TheNewOrden MARKET</title>
</head>
<body>
    <div class="container">

        <a href="busqueda" class="button type--A">
          <div class="button__line"></div>
          <div class="button__line"></div>
          <span class="button__text">Buscador</span>
          <div class="button__drow1"></div>
          <div class="button__drow2"></div>
        </a>
      
      </div>
</body>
</html>